@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$orange: #ffb03b
$grey: #a9a19c


$custom-colors: (
"orange": $orange, "grey": $grey
)
$theme-colors: map-merge($custom-colors , $theme-colors)
@import ../../node_modules/bootstrap/scss/bootstrap.scss
@import ../../node_modules/bootstrap-icons/font/bootstrap-icons.css
@import ../sass/variables
@import ../sass/modules/footer/footer
@import ../sass/modules/header/header
@import ../sass/modules/main/main
@import ../sass/modules/main/main1/_main1
@import ../sass/modules/main/main2/_main2
@import ../sass/modules/main/main3/_main3
@import ../sass/modules/main/main4/_main4
@import ../sass/modules/main/main5/_main5
@import ../sass/modules/main/main6/_main6
@import ../sass/modules/main/main7/_main7
@import ../sass/modules/main/main8/_main8