.main3
    h1
        font-family: Brush Script Mt
.main3-links
    a
        font-family: Brush Script MT
.main3-links
    h4
        cursor: pointer
    a
        &:hover
            color: #ffb03b !important
.menu
    display: flex
    flex-wrap: wrap
    padding-inline: 7vw
    align-items: center
.menu-img
    width: 80px
    height: 80px
    border-radius: 50%
    border: 8vh solid #ececec
    img
        width: 70px
        height: 70px
        border-radius: 50%
.menu-title
    .b-bottom
        width: 15vw
        border-bottom: 2px dotted #b4b4ce 
    h3
        font-size: 17px
        font-weight: bold
    h2
        font-size: 18px
        font-weight: bold
        color: #ffb03b
    p
        font-size: 14px
        color: #a1a1a1
        font-style: italic
        width: 30vw
.menu-title
    h3
        &:hover
            color:  #ffb03b
.chek
    display: none
